.product{
    display: flex;
    border-bottom: 1px solid gray;
}

.product-image{
    padding: 20px;
}

.product-name{
    color: blue;
    font-weight: 400;
    
}

.product-details{
    margin: 20px;
}

.main-button{
    width: 150px;
    height: 20px;
    background-color: goldenrod;
    border-radius: 5px;
    border: 1px solid gray;
}